.btn{
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-primary, .btn-primary:focus{
    background-color: #0A85AB;
    outline: none;
    border: 2px solid #0A85AB;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1), 0 2px 6px 1px rgba(0, 0, 0, .2);
}

.btn-primary:hover{
    background-color: #0A85AB;
    outline: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1), 0 4px 8px 1px rgba(0, 0, 0, .3) !important;
    border: 2px solid #0A85AB !important;
}

.btn-primary:active{
    background-color: #0FC1F7 !important;
    outline: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .1), 0 12px 16px 1px rgba(0, 0, 0, .2) !important;
    border: 2px solid #0FC1F7 !important;
}




.btn-primary2, .btn-primary2:focus{
    background-color: rgba(10, 133, 171, 0);
    color:#0A85AB;
    outline: none;
    border: 2px solid #0A85AB;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: none !important;
}

.btn-primary2:hover{
    background-color: #0A85AB;
    color: white;
    outline: none;
    box-shadow: none !important;
    border: 2px solid #0A85AB;
}

.btn-primary2:active{
    background-color: #0FC1F7 !important;
    outline: none;
    box-shadow: none !important;
    border: 2px solid #0FC1F7 !important;
}










.btn-secondary, .btn-secondary:focus{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: none !important;
}

.btn-secondary:hover{
    background-color: rgb(255, 255, 255);
    color: #0A85AB;
    outline: none;
    box-shadow: none !important;
    border: 2px solid white !important;
}

.btn-secondary:active{
    background-color: #0FC1F7 !important;
    color: #0A85AB;
}







.btn-nav1, .btn-nav1:focus{
    background-color: rgb(255, 255, 255);
    color:#0A85AB;
    outline: none;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: none !important;
}

.btn-nav1:hover{
    background-color: rgb(255, 255, 255);
    color:#0A85AB;
    outline: none;
    box-shadow: none !important;
    border: 2px solid #0A85AB !important;
}

.btn-nav1:active{
    background-color: #0FC1F7 !important;
    color: white;
}






.btn-nav2, .btn-nav2:focus{
    background-color: rgba(255, 255, 255, 0);
    color:white;
    outline: none;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: none !important;
}

.btn-nav2:hover{
    background-color: rgb(255, 255, 255);
    color: #0A85AB;
    outline: none;
    box-shadow: none !important;
    border: 2px solid white !important;
}

.btn-nav2:active{
    background-color: #0FC1F7 !important;
    color: white;
}






