@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif !important;
}

h1.display-4.poppins{
    color:white;
}


.light{
    font-weight: 300;
    color:#0FC1F7;
}

h1{
    font-size:3.5rem;
}

h2{
    font-size:2.5rem;
}

h3{
    font-size: 1.25rem;
}

p{
    color: #333333;
}

footer p{
    color:white;
}

h1,h2,h3,h4,h5{
    line-height: 1.4;
}

.btn-arrow, .btn-arrow:hover{
    color:#19ABFF;
    font-weight: 700;
    font-size: 1.125rem;
}