body {
    background-color: #F9FBFC !important;
    color: #333333;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  
html
{
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

.container{
  max-width: 1440px;
}

.flex{
  display: flex;
}


#powered{
  display: flex;
  width:100vw;
  background-color: #17191A;
  color: white;

  p{
    margin:0;
    font-size: 0.875rem;
  }
}








.scrolled{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);

  ul{
    li{
      .nav-link{
        color:black !important;
        border-bottom: 2px solid #0A85AB50 !important;
        transition: all .3s;
      }
      .nav-link.active{
        border-bottom-color: #0A85AB !important;
        transition: all .3s;
      }
    }
  }
}



nav {
  background-color: rgba(255, 255, 255, 0);
  transition: all .3s;
  ul{
    li{
      .nav-link{
        color:white !important;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        margin: 0 10px;
        width:100px;
        transition: all .3s;
      }
      .nav-link.active{
        border-bottom-color: white !important;
        transition: all .3s;
      }
    }
  }

  .nav-button{
    margin:0 5px;
  }
}


@media (max-width: 993px){
  nav{
    #navbarSupportedContent{
      margin: 5px 0px;
      .navbar-nav{
        margin: 30px 0px;
        li{
          margin: 5px 0px;
          display:flex;
          justify-content: center;
        }
      }
    }
    
  }
}







#index-content1{
  display: flex;
  position: relative;
  background-image: url(../img/Banner-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:80vh;
  width:100vw;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .content{
      position: absolute;
      top:20vh;
    }
  }

  .container{
    display: flex;
  }

  img{
    position: absolute;
    bottom:0;
    min-width:100%;
    width:100%;
    height: auto;
  }


  .img-svg{
    display: block;
    position: absolute;
    bottom: 0px;
    background-image: url(../img/divider-01.svg);
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
  }

  .content{
    margin: auto 0px;
    color:white;
    max-width: 700px;
  }
  
  @media (max-width:993px) {
    .content{
      text-align: center;
      margin: auto;
    }
  }
}


@media (max-width:993px) {
  h1.display-3{
    font-size: 3rem;
  }
  h3{
    font-size:1.2rem;
  }
  h1.display-4{
    font-size:2.7rem;
  }
  h5{
    font-size: 1.1rem;
  }

  .content-details{
    margin-bottom: 50px !important;
    text-align: center;
  }
  
}







#index-content2{
  background-color: white;
  padding: 70px 0;
  border-bottom: 1px solid #cccccc;

  img{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1), 0 4px 10px 1px rgba(0, 0, 0, .2);
  }

  @media (max-width:993px) {
    .container{
      text-align: center;
      
    }
    
  }

  
}



#index-content3{
  padding: 70px 0;
  img{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1), 0 4px 10px 1px rgba(0, 0, 0, .2);
  }
}

#index-content4{
  background-color: white;
  padding: 70px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  img{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1), 0 4px 10px 1px rgba(0, 0, 0, .2);
  }
}

#index-content5{
  padding: 70px 0;
  img{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1), 0 4px 10px 1px rgba(0, 0, 0, .2);
  }
}


#index-content6{
  background-color: white;
  padding: 70px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  img{
    width:80%;
  }

  @media (min-width:992.98px){
    img{
      width:200px;
    }
  }
}


#index-content7{
  padding: 70px 0;
  .form-container{
    border-radius: 30px;
    border: 2px solid #5CD9FF;
    padding: 30px;
    margin: 0px 10px;
  }
  
  
}




footer{
  background-color: #043545;
  padding: 30px 0;
  color: white;
  white-space: nowrap;

  .social-media{
    a {
      margin: 0 5px;
      img{
        height: 30px;
      }
    }
  }
}



label{
  font-size: .875rem;
}

.form-control{
  background-color: #E8F6FA;
  outline: none;
  border: none;
}

.form-control:active, .form-control:focus{
  background-color: #E8F6FA;
  box-shadow: 0 0 0 2px #0FC1F7;
}


select.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

