body {
    background-color: #EEF6F8 !important;
    color: #333333;
    overflow-x:hidden;
  }
  
html
{
  font-family: 'opensans', sans-serif;
  scroll-behavior: smooth;
}
  

#test {
  background-color: black;
  h1{
    color: white
  }
}
  
